<!-- Cover -->
<div class="container-fluid cover bg-cleaning">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Image -->
      <div class="col-md-4 text-center">
        <br>
        <img ng-src="assets/images/logo.png" class="logo-big" alt="Al Maahad Eng Logo">
      </div>
      <!-- Titles -->
      <div class="col-md-8">
        <!-- Brand -->
        <h1 bolder class="t-5">
          <span style="color: #ff8100">O</span>ur
          <span style="color: #ff8100">S</span>ervices</h1>
        <!-- Info -->
        <h3 light lh>
          The company has a very elaborate and clear policy when it comes to after sales
          service.
        </h3>
        <h3 light lh>
          Our vision in this direction is a clear manifesto of our commitments to our
          customers to see them benefiting from the attachments and are satisfied by our products.
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Section 2 -->
<div class="container-fluid bg-2">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Image -->
      <div class="col-md-6">
        <img ng-src="assets/images/services/loader.jpg" class="thumbnail">
      </div>
      <!-- Content -->
      <div class="col-md-6">
        <!-- Title -->
        <h1 lh bolder><i class="fa fa-crosshairs" style="color: #ff8100"></i> Accuracy</h1>
        <!-- Description -->
        <h3 lh>
          Since this is a man made machinery and it is detained to develop some problems
          by the passage of time and continues usage due to wear and tare this requires proper
          maintenance, servicing, replacement of wearable, and material fatigue parts,
          which unfortunately is not given much attention by the end users.
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Section 3 -->
<div class="container-fluid bg-1">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Content -->
      <div class="col-md-6">
        <!-- Title -->
        <h1 lh bolder><i class="fa fa-line-chart" style="color: #ff8100"></i> Efficiency</h1>
        <!-- Description -->
        <h3 lh>
          We give particular attention to this neglected aspect of the machinery
          and by the users and device programs to bring awareness and help in
          reconditioning the attachment to reduce breakdown and loss of work
          hours which is a core aspect in maintaining our profitability and reducing losses.
        </h3>
      </div>
      <!-- Image -->
      <div class="col-md-6">
        <img ng-src="assets/images/services/sparks.jpg" class="thumbnail">
      </div>
    </div>
  </div>
</div>

<!-- Section 4 -->
<div class="container-fluid bg-3">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Image -->
      <div class="col-md-6">
        <img ng-src="assets/images/services/grab.png" class="thumbnail">
      </div>
      <!-- Content -->
      <div class="col-md-6">
        <!-- Title -->
        <h1 lh bolder><i class="fa fa-eye" style="color: #ff8100"></i> Diagnosis</h1>
        <!-- Description -->
        <h3 lh>
          In this regard we invite our customers to have periodical inspection of there attachments
          and if they find any part worn beyond the acceptable tolerance or given allowance that
          should be reported to the concerned department or referred to us for proper diagnosis and reconditioning.
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Section 5 -->
<div class="container-fluid">
  <div class="container s-pad-y">
    <!-- Title -->
    <h1 lh bolder class="text-center"><i class="fa fa-cog" style="color: #ff8100"></i> Repair</h1>
    <hr>
    <div class="row">
      <!-- Image -->
      <div class="col-md-6">
        <img ng-src="assets/images/services/before.jpg" class="thumbnail">
      </div>
      <!-- Image -->
      <div class="col-md-6">
        <img ng-src="assets/images/services/after.jpg" class="thumbnail">
      </div>
    </div>
  </div>
</div>

<!-- Section 6 -->
<div class="container-fluid bg-1">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Icon -->
      <div class="col-md-2 s-pad-y text-center">
        <i class="fa fa-comments fa-5x" style="color: #ff8100"></i>
      </div>
      <!-- Content -->
      <div class="col-md-10">
        <!-- Title -->
        <h1 lh bolder>Support</h1>
        <!-- Description -->
        <h3 lh>
          We as the manufacturers of those attachments. are at our customers disposal
          24x7 throughout the year.
          <br><br>
          Should you have any inquiry please feel free to give us a call when ever warranted.
          <br>
          Our service staff will respond immediately.
        </h3>
        <br>
        <!-- Contact -->
        <a class="btn btn-primary btn-lg" ui-sref="app.contact">Contact Us</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<ng-include src="'components/home/footer.html'"></ng-include>
