<!-- Cover -->
<div class="container-fluid cover bg-cleaning">
  <div class="container s-pad-y">
    <div class="row">
      <!-- Image -->
      <div class="col-md-4 text-center">
        <br>
        <img ng-src="assets/images/logo.png" class="logo-big" alt="Al Maahad Eng Logo">
      </div>
      <!-- Titles -->
      <div class="col-md-8">
        <!-- Brand -->
        <h1 bolder class="t-5">
          <span style="color: #ff8100">O</span>ur
          <span style="color: #ff8100">S</span>ervices</h1>
        <!-- Info -->
        <h3 light lh>
          The company has a very elaborate and clear policy when it comes to after sales
          service.
        </h3>
        <h3 light lh>
          Our vision in this direction is a clear manifesto of our commitments to our
          customers to see them benefiting from the attachments and are satisfied by our products.
        </h3>
      </div>
    </div>
  </div>
</div>
