/* Import */

@import url("//fonts.googleapis.com/css?family=Ubuntu");

/* Global */

body {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 100;
    margin-top: 50px;
}

a {
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

smaller {
    font-size: smaller;
}

* {
    outline: 0 !important;
}

[ng-click] {
    cursor: pointer;
}

[light] {
    font-weight: lighter;
}

[lh] {
    line-height: 1.3em;
}

[bolder] {
    font-weight: 600;
}

hr[big] {
    margin: 40px 0;
}

hr[dark] {
    border-color: rgba(0, 0, 0, 0.4);
}

hr[light] {
    border-color: rgba(0, 0, 0, 0.1);
}

hr[devider] {
    margin: 15px -15px;
}


/* Navbar */

.navbar {
    background: #fff;
}

@media (min-width: 768px) {
    body {
        margin-top: 70px;
    }
    .navbar {
        height: 70px;
    }
    .navbar a {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .navbar .navbar-nav a {
        border: none;
        border-bottom: 3px solid transparent;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 22px !important;
        background: none !important;
        font-size: 1.1em;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
    }
    .navbar .navbar-nav a:hover {
        border-bottom-color: #eee;
    }
    .navbar .navbar-nav .active a {
        border-bottom-color: #337ab7;
    }
    .navbar .navbar-nav .highlight a {
        background: #337ab7 !important;
        color: #fff;
        font-weight: 400;
    }
    .navbar .navbar-nav .highlight a:hover {
        background: #ddd !important;
        border-color: #ddd !important;
    }
    .navbar-brand {
        margin-right: 80px;
        font-weight: bold;
    }
}


/* Cover */

.cover {
    padding: 100px 0;
    color: #fff;
    background-position: center 30%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.cover-pull {
    margin-bottom: -150px;
    padding: 150px 0;
    background-position: bottom center !important;
}

.cover-dark {
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 5px #000;
}

.cover hr {
    opacity: 0.5;
}


/* Backgrounds */

.bg-no {
    background: none;
}

.bg-landing {
    background-image: url("../images/landing.jpg");
}

.bg-construction {
    background-image: url("../images/construction.jpg");
}

.bg-aboutus {
    background-image: url("../images/aboutus.jpg");
}

.bg-footer {
    background-image: url("../images/footer.jpg");
}


/* Button */

.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-outline:hover {
    color: #000;
    background: #fff;
}

.btn-xlg {
    padding: 20px 30px;
    font-size: 1.5em;
    border-radius: 30px;
}

.btn-xlg .fa {
    position: relative;
    top: 1px;
    margin: 2px 0;
}

.btn-long {
    padding-right: 30px;
    padding-left: 30px;
}


/* Container */

.container-dark {
    color: #aaa;
}


/* Carousel */

.carousel-caption {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #000;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    padding-bottom: 50px;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-control {
    opacity: 0.8;
}

.carousel-control .fa {
    font-size: 2em;
}


/* Product image */

img.product {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
}


/* Contact us */

.contact-us h4 {
    margin-bottom: 20px;
}

.contact-us .fa {
    margin-right: 10px;
    width: 35px;
    text-align: center;
    background: #eee;
}

.contact-us h4:hover .fa {
    color: #337ab7;
}


/* Form control */

.form-control {
    border-radius: 4px !important;
    border-width: 2px;
    box-shadow: none !important;
    max-width: 100%;
}

.form-control.ng-invalid.ng-dirty:not(*:focus) {
    border-color: tomato !important;
}


/* Thumbnail */

.thumbnail.thumbnail-bold {
    border-width: 3px;
    border-color: #ddd;
}


/* Tooltip */

.tooltip-inner {
    min-width: 150px !important;
}


/* Logo */

.logo {
    padding: 10px;
    display: block;
    margin: 10px 0;
}


/* Infobox */

.infobox {
    padding: 40px 60px;
    background: rgba(238, 238, 238, 0.95);
    border-radius: 6px;
}

.infobox-small {
    padding: 20px 30px;
}

.infobox-xsmall {
    padding: 10px;
}

.infobox-outline {
    background: rgba(255, 255, 255, 0.95);
    border: 2px solid #eee;
    box-sizing: content-box;
}

.infobox h1:first-of-type,
.infobox h2:first-of-type,
.infobox h3:first-of-type,
.infobox h4:first-of-type {
    margin-top: 0;
}


/* List group */

.list-group-item {
    text-transform: capitalize;
    font-size: larger;
    border-radius: 0 !important;
}

.list-group-item .fa.pull-right {
    margin-top: 4px;
}


/* Table */

.table {
    border: 1px solid #ddd;
}

.table thead th {
    font-weight: normal;
    font-style: italic;
    background: rgba(0, 0, 0, 0.05);
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.table tbody th {
    font-weight: normal;
}

/* Small row */

.row-small > div {
    padding-right: 5px;
    padding-left: 5px;
}
