<div class="container">
  <div class="row s-mar-top-soft">

    <!-- Sidebar (section list) -->
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="section in sections"
          ng-click="activateSection(section)" ng-class="{active: currentSection === section}">
          {{ section }} <i class="fa fa-chevron-right pull-right"></i>
        </a>
      </div>
    </div>

    <!-- Section -->
    <div class="col-md-9">
      </div>
    </div>
  </div>
</div>
