<div class="container">
  <div class="row s-mar-top-soft">

    <!-- Sidebar (section list) -->
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="section in sections"
          ng-click="activateSection(section)" ng-class="{active: currentSection === section}">
          {{ section }} <i class="fa fa-chevron-right pull-right"></i>
        </a>
      </div>
    </div>

    <!-- Section -->
    <div class="col-md-9">

      <!-- Messages table -->
      <table class="table table-hover bg-white" ng-if="currentSection === 'messages'">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Email</th>
            <th>Name</th>
            <th>Number</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="message in messages">
            <th class="text-center">{{ message.id }}</th>
            <td><a ng-href="mailto:{{ message.email }}">{{ message.email }}</a></td>
            <td>{{ message.name }}</td>
            <td><a ng-href="telto:{{ message.number }}">{{ message.number }}</a></td>
            <td>{{ message.message }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Information -->
      <div ng-if="currentSection === 'information'">
        <div class="infobox">
          <!-- Title -->
          <h2 class="text-primary">Information:</h2>
          <hr light>
          <!-- Sub title -->
          <h4>Coming soon...</h4>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
