<div class="container-fluid container-dark bg-footer footer">
  <div class="container s-pad-y-hard">
    <!-- More info -->
    <div class="row">
      <div class="col-md-6">
        <p lh>
          Engineering continues its non-stop research and development studies
          with the principle of minimum defect, zero defect repetition by knowing
          the reality that adaptation of different work machines to different
          technologies needs sensitivity at all points of work.
        </p>
      </div>
      <div class="col-md-6">
        <p lh>
          Engineering , with its sales and expert technical team, also gives
          services as a consultant in order to direct its precious customers
          to the right material and machine with principle of complete
          quality in production, sales and after sales.
        </p>
      </div>
    </div>
    <hr big dark>
    <!-- Partners -->
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/cat.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/hyundai.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/jcb.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/komatsu.png">
        </div>
      </div>
    </div>
    <hr big dark>
    <p>
      <!-- Copyright -->
      <span>
        All rights reserved &copy;
        <span ng-bind="set.date | date : 'yyyy'"></span>
        <a ui-sref="app.home" bold>Al Maahad Engineering</a> &bull;
        By <a ng-href="https://savandbros.com">SavandBros.com</a>.
      </span>
      <!-- Links -->
      <span class="pull-right links">
        <!-- Contact -->
        <a ui-sref="app.contact"><i class="fa fa-fw fa-envelope-o"></i> Contact Us</a>
        <!-- Social links -->
        <a ng-href="https://twitter.com/maahadeng" target="_blank"><i class="fa fa-fw fa-twitter"></i> Follow Us</a>
      </span>
    </p>
  </div>
</div>
