<div class="container-fluid container-dark bg-footer">
  <div class="container s-pad-y-hard">
    <!-- Copyright -->
    <p>
      All rights reserved &copy;
      <span ng-bind="set.date | date : 'yyyy'"></span>
      <a ui-sref="app.home" bold>AlMaahadEng.com</a>
    </p>
    <hr dark big>
    <!-- More info -->
    <div class="row">
      <div class="col-md-6">
        <p lh>
          Engineering continues its non-stop research and development studies
          with the principle of minimum defect, zero defect repetition by knowing
          the reality that adaptation of different work machines to different
          technologies needs sensitivity at all points of work.
        </p>
      </div>
      <div class="col-md-6">
        <p lh>
          Engineering , with its sales and expert technical team, also gives
          services as a consultant in order to direct its precious customers
          to the right material and machine with principle of complete
          quality in production, sales and after sales.
        </p>
      </div>
    </div>
  </div>
</div>
