<!-- Cover -->
<div class="container-fluid cover bg-landing">
  <div class="container">
    <div class="row">
      <!-- Titles -->
      <div class="col-md-7">
        <!-- Brand -->
        <h1 bolder class="t-3">Al Maahad Engineering</h1>
        <!-- Info -->
        <h3 light lh>
          Your reliable specialist in the design, manufacturing and repair of all grabs,
          buckets, cutters and any heavy equipment attachments.
        </h3>
        <!-- Info -->
        <h3 bolder style="color: #ff8100">
          <em>We are manufacturer.</em>
        </h3>
        <br>
        <!-- Button -->
        <a class="btn btn-default btn-lg btn-outline animated fadeInRight" ui-sref="app.contact">Contact Us</a>
        <br>
        <br>
        <br>
      </div>
      <!-- Products -->
      <div class="col-md-5">
        <div id="product-car" class="carousel slide thumbnail" data-ride="carousel" style="background: none">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#product-car" data-slide-to="{{ $index }}"
              ng-class="{active: $first}" ng-repeat="product in products track by $index">
            </li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item" ng-class="{active: $first}" ng-repeat="product in products track by $index">
              <img ng-src="{{ product.image }}" alt="{{ product.name }}" class="product">
              <div class="carousel-caption">{{ product.name }}</div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" data-target="#product-car" data-slide="prev">
            <i class="fa fa-chevron-left icon-prev"></i>
          </a>
          <a class="right carousel-control" data-target="#product-car" data-slide="next">
            <i class="fa fa-chevron-right icon-next"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div class="container-fluid bg-1" id="services">
  <div class="container s-pad-y-hard animated fadeInUp">
    <div class="text-center">
      <!-- Title -->
      <h1 light class="text-primary t-4">Services &amp; Products</h1>
      <!-- Sub title -->
      <h3>Help make your machiens more versatile and productive.</h3>
    </div>
    <hr big>
    <!-- Products -->
    <div class="row" vertilize-container>
      <div class="col-md-4" ng-repeat="product in products track by $index">
        <div class="thumbnail thumbnail-bold">
          <img ng-src="{{ product.image }}" alt="Ditch Cleaning Bucket" width="100%" class="product">
          <div class="caption">
            <h3>
              {{ product.name }}
              <i ng-if="product.isSpecial" uib-tooltip="Special Product" tooltip-placement="bottom"
                class="fa fa-star pull-right text-primary">
              </i>
            </h3>
            <p vertilize>{{ product.detail}}</p>
            <hr devider>
            <a ng-href="{{ product.link }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Order Now</a>
            <a ng-href="{{ product.link }}" class="btn btn-default pull-right"><i class="fa fa-eye"></i> View</a>
          </div>
        </div>
      </div>
      <!-- Devider -->
      <div class="col-xs-12">
        <hr light>
      </div>
      <!-- Other products -->
      <div class="col-md-4">
        <button class="btn btn-highlight btn-default btn-lg btn-block">
          <b>Excavator</b> Products <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-highlight btn-default btn-lg btn-block">
          <b>Wheel Loader</b> Products <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-highlight btn-default btn-lg btn-block">
          <b>Crane</b> Products <i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <!-- Devider -->
      <div class="col-xs-12">
        <hr light>
      </div>
    </div>
    <!-- View more -->
    <center class="s-mar-top">
      <a ng-href="{{ set.shop }}" class="btn btn-xlg btn-primary">
        <i class="fa fa-th-large fa-fw"></i> More products
      </a>
    </center>
  </div>
</div>

<!-- Partners -->
<div class="container-fluid container-shadow bg-3">
  <div class="container s-pad-y-soft">
    <h3 class="text-center">OUR PARTNERS</h3>
    <hr light>
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/cat.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/hyundai.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/jcb.png">
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="logo">
          <img ng-src="assets/images/partners/komatsu.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="container-fluid bg-1" id="contact">
  <div class="container s-pad-y">
    <div class="row">
      <div class="col-sm-6">
        <!-- Title -->
        <h2 class="text-primary">CONTACT US</h2>
        <hr light>
        <!-- Info -->
        <div class="contact-us">
          <h4>
            <i class="fa fa-border fa-location-arrow"></i>
            {{ settings.address.value }}
          </h4>
          <h4>
            <i class="fa fa-border fa-phone"></i>
            <a ng-href="telto:{{ settings.number.value }}">{{ settings.number.value }}</a>
          </h4>
          <h4>
            <i class="fa fa-border fa-phone"></i>
            <a ng-href="telto:{{ settings.number2.value }}">{{ settings.number2.value }}</a>
          </h4>
          <h4>
            <i class="fa fa-border fa-envelope-o"></i>
            <a ng-href="mailto:{{ settings.email.value }}">{{ settings.email.value }}</a>
          </h4>
          <h4>
            <i class="fa fa-border fa-inbox"></i>
            <small>{{ settings.pobox.label }}:</small> {{ settings.pobox.value }}
          </h4>
        </div>
        <!-- Button -->
        <a ui-sref="app.contact" class="btn btn-success">
          <i class="fa fa-send fa-fw"></i> Send Message
        </a>
      </div>
      <!-- Map -->
      <div class="col-sm-6">
        <iframe width="100%" height="450" frameborder="0" seamless allowfullscreen
          ng-src="//www.google.com/maps/embed/v1/place?q=place_id:ChIJBcnbvNpeXz4ROnm9YZspwmQ&key=AIzaSyAWR_qL8M5AG0Woyn0Wv3UG7ddoijITsiU">
        </iframe>
      </div>
    </div>
  </div>
</div>

<!-- About us -->
<div class="container-fluid cover cover-dark bg-aboutus" id="aboutus">
  <div class="container s-pad-y-hard">
    <!-- Title -->
    <h1 light class="text-center t-4">About Us</h1>
    <hr big>
    <!-- Info -->
    <div class="row">
      <div class="col-md-6">
        <h4 lh>
          Al Maahad Engineering established in 2006 in Sharjah, UAE, is an innovative organization which is
          specialist in machinery heavy-duty attachments such as mechanical and rotating or non-rotating
          hydraulic rock grapples, clamshells, buckets, drum cutters, long reach and etc.
        </h4>
      </div>
      <div class="col-md-6">
        <h4 lh>
          It offers extensive and various types of heavy and light attachments manufactured
          based on engineering principles and technical standards for domestic and foreign customers.
        </h4>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<ng-include src="'components/home/footer.html'"></ng-include>
