<!-- Cover -->
<!-- Contact Us -->
<div class="container s-pad-y">
  <div class="row">
    <div class="col-md-6">
      <div class="">
        <div ng-if="settings">
          <h4>
            <span class="text-muted">{{ settings.address.label }}:</span>
            <span class="pull-right">{{ settings.address.value }}</span>
          </h4>
          <hr light>
          <h4>
            <span class="text-muted">{{ settings.email.label }}:</span>
            <a class="pull-right" href="mailto:{{ settings.email.value }}">{{ settings.email.value }}</a>
          </h4>
          <hr light>
          <h4>
            <span class="text-muted">{{ settings.number.label }}:</span>
            <a class="pull-right" href="telto:{{ settings.number.value }}">{{ settings.number.value }}</a>
          </h4>
          <hr light>
          <h4>
            <span class="text-muted">{{ settings.number2.label }}:</span>
            <a class="pull-right" href="telto:{{ settings.number2.value }}">{{ settings.number2.value }}</a>
          </h4>
          <hr light>
          <h4>
            <span class="text-muted">{{ settings.pobox.label }}:</span>
            <span class="pull-right">{{ settings.pobox.value }}</span>
          </h4>
          <hr light>
        </div>
        <div>
          <iframe width="100%" height="300" frameborder="0" seamless allowfullscreen
            ng-src="//www.google.com/maps/embed/v1/place?q=place_id:ChIJBcnbvNpeXz4ROnm9YZspwmQ&key=AIzaSyAWR_qL8M5AG0Woyn0Wv3UG7ddoijITsiU">
          </iframe>
        </div>
      </div>
      <br>
    </div>
    <div class="col-md-6">
      <form name="form" ng-submit="send(form)" class="infobox">
        <!-- Box title -->
        <h2 class="text-primary">Contact Us</h2>
        <hr light>
        <!-- Name -->
        <div class="form-group form-group-lg">
          <input type="text" class="form-control" minlength="3"
            placeholder="Name (optional)" ng-model="form.name">
        </div>
        <!-- Phone number -->
        <div class="form-group form-group-lg">
          <input type="text" class="form-control" minlength="6"
            placeholder="Phone numer (optional)" ng-model="form.number">
        </div>
        <!-- Email -->
        <div class="form-group form-group-lg">
          <input type="email" class="form-control"
            placeholder="Email" ng-model="form.email" required>
        </div>
        <!-- Message -->
        <div class="form-group form-group-lg">
          <textarea class="form-control" placeholder="Message"
            ng-model="form.message" rows="8" required minlength="10">
          </textarea>
        </div>
        <!-- Send button -->
        <button class="btn btn-primary btn-lg btn-long"
          ng-disabled="form.loading || form.$invalid" ng-if="!form.success">
          <i class="fa fa-fw fa-send"></i> SEND
        </button>
        <!-- Success -->
        <div class="alert alert-success" ng-if="form.success">
          <strong>Done!</strong> Thank you for contacting us, we will contact you soon.
        </div>
        <!-- Error -->
        <div class="alert alert-danger" ng-if="form.error">
          <strong>Error!</strong> Something went wrong, please try again.
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Footer -->
<ng-include src="'components/home/footer.html'"></ng-include>
