
<!-- Contact Us -->
<div class="container s-pad-y">
  <div class="row">
    <div class="col-sm-6">
      <h4>
        <span class="text-muted">Address:</span>
        <span class="pull-right">Industrial Area 13, Sharjah, U.A.E.</span>
      </h4>
      <hr>
      <h4>
        <span class="text-muted">Company tel:</span>
        <a class="pull-right" href="telto:+971 65352261">+971 65352261</a>
      </h4>
      <hr>
      <h4>
        <span class="text-muted">Phone number:</span>
        <a class="pull-right" href="telto:+971 559380360">+971 559380360</a>
      </h4>
      <hr>
      <h4>
        <span class="text-muted">E-mail:</span>
        <a class="pull-right" href="mailto:info@almaahadeng.com">info@almaahadeng.com</a>
      </h4>
      <hr>
      <h4>
        <span class="text-muted">P.O. Box:</span>
        <span class="pull-right">69133 - SHARJAH, U.A.E.</span>
      </h4>
      <hr>
      <div class="thumbnail">
        <iframe width="100%" height="300" frameborder="0" seamless allowfullscreen
          ng-src="http://www.google.com/maps/embed/v1/place?q=place_id:ChIJBcnbvNpeXz4ROnm9YZspwmQ&key=AIzaSyAWR_qL8M5AG0Woyn0Wv3UG7ddoijITsiU">
        </iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <form name="form" ng-submit="send(form)" class="jumbotron">
        <h2 class="text-primary">Contact Us</h2>
        <hr big>
        <!-- Name -->
        <div class="form-group form-group-lg">
          <input type="text" class="form-control" minlength="3" placeholder="Name (optional)" ng-model="form.name">
        </div>
        <!-- Email -->
        <div class="form-group form-group-lg">
          <input type="email" class="form-control" placeholder="Email" ng-model="form.email" required>
        </div>
        <!-- Message -->
        <div class="form-group form-group-lg">
          <textarea class="form-control" placeholder="Message"
            ng-model="form.message" rows="8" required minlength="10">
          </textarea>
        </div>
        <!-- Send button -->
        <button class="btn btn-primary btn-lg btn-long" ng-disabled="form.loading || form.$invalid">
          <i class="fa fa-fw fa-send"></i> SEND
        </button>
      </form>
    </div>
  </div>
</div>


<!-- Footer -->
<ng-include src="'components/home/footer.html'"></ng-include>
